.add_user {
    padding: 20px;
    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
            padding-bottom: 5px;
            font-size: $h1FontSize * 0.8;
        }
    }
    &__back_button {
        h3 {
            padding: 20px 0 10px;
            font-size: $mainFontSize;
            a {
                margin-left: 5px;
            }
        }
    }
    &__subtitle {
        padding: 10px 0;
        h2 {
            padding-bottom: 5px;
        }
        &__inputs {
            margin-top: 20px;
            input {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                box-sizing: border-box;
                font-family: $mainFontFamily;
                font-size: $mainFontSize;
                color: $darkColor;
                background-color: transparent;
                border: 2px solid $darkColor;
                border-radius: 10px;
                &::placeholder {
                    color: rgba($color: $darkColor, $alpha: 0.6);
                }
            }
            &__buttons {
                display: flex;
                button {
                    width: 50%;
                    padding: 10px;
                    font-family: $titleFontFamily;
                    font-size: $mainFontSize;
                    border-radius: 10px;
                    background-color: transparent;
                    transition: 0.2s;
                    &#add {
                        margin-right: 5px;
                        color: $primaryColor;
                        border: 2px solid $primaryColor;
                        &:hover {
                            background-color: $primaryColor;
                            color: $altLightColor;
                        }
                    }
                }
                a {
                    width: 50%;
                    padding: 10px;
                    margin-left: 5px;
                    font-family: $titleFontFamily;
                    font-size: $mainFontSize;
                    border: 2px solid $altPrimaryColor;
                    border-radius: 10px;
                    background-color: transparent;
                    text-align: center;
                    line-height: normal;
                    transition: 0.2s;
                    &:hover {
                        background-color: $altPrimaryColor;
                        color: $altLightColor;
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpointTablet) {
    .add_user {
        &__back_button {
            h3 {
                font-size: $mobileFontSize;
            }
        }
        &__subtitle {
            &__inputs {
                input, button, a {
                    font-size: $mobileFontSize;
                }
            }
        }
    }
}