.add_chat {
    padding: 20px;
    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
            padding-bottom: 5px;
            font-size: $h1FontSize * 0.8;
        }
    }
    &__back_button {
        h3 {
            padding: 20px 0 10px;
            font-size: $mainFontSize;
            a {
                margin-left: 5px;
            }
        }
    }
    &__subtitle {
        padding: 10px 0;
        h2 {
            padding-bottom: 5px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        &__item {
            padding: 10px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: $primaryColorWOpacity;
            color: $darkColor;
            border: none;
            border-radius: 10px;
            font-family: $mainFontFamily;
            font-size: $mainFontSize;
            &:hover {
                background-color: $primaryColor;
                color: $altLightColor;
            }
            h3 {
                font-size: $mainFontSize;
                padding-bottom: 5px;
            }
            p {
                span {
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: $breakpointTablet) {
    .add_chat {
        &__back_button {
            h3 {
                font-size: $mobileFontSize;
            }
        }
        &__list {
            &__item {
                font-size: $mobileFontSize;
            }
        }
    }
}