.chats {
    padding: 20px;
    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
            padding-bottom: 5px;
            font-size: $h1FontSize * 0.8;
        }
    }
    &__subtitle {
        padding: 20px 0 10px;
        h2 {
            padding-bottom: 5px;
        }
        h3 {
            padding-bottom: 10px;
            font-size: $mainFontSize;
            a {
                margin-left: 5px;
            }
        }
    }
    &__list {
        &__item {
            padding: 10px;
            margin-top: 10px;
            background-color: $primaryColorWOpacity;
            border-radius: 10px;
            &:hover {
                background-color: $primaryColor;
                a {
                    color: $altLightColor;
                }
            }
            a {
                color: $darkColor;
                &:hover {
                    background-color: initial;
                }
            }
            h3 {
                font-size: $mainFontSize;
                padding-bottom: 5px;
            }
            p {
                span {
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: $breakpointTablet) {
    .chats__subtitle {
        h3 {
            font-size: $mobileFontSize;
        }
    }
}