.users {
    padding: 20px;
    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
            padding-bottom: 5px;
            font-size: $h1FontSize * 0.8;
        }
    }
    &__subtitle {
        padding: 20px 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text {
            h2 {
                padding-bottom: 5px;
            }
        }
        &__add_user {
            a {
                padding: 10px;
                border-radius: 10px;
                border: 2px solid $primaryColor;
                background-color: transparent;
                transition: 0.2s;
                &:hover {
                    background-color: $primaryColor;
                    color: $altLightColor;
                }
            }
        }
    }
    &__list {
        &__item {
            padding: 10px;
            margin-top: 10px;
            background-color: $primaryColorWOpacity;
            border-radius: 10px;
            &:hover {
                background-color: $primaryColor;
                a {
                    color: $altLightColor;
                }
            }
            a {
                color: $darkColor;
                &:hover {
                    background-color: initial;
                }
            }
            h3 {
                font-size: $mainFontSize;
                padding-bottom: 5px;
            }
            p {
                span {
                    font-weight: 500;
                }
            }
        }
    }
}